@font-face {
  font-family: "OpenSans";
  src: url("../font/open-sans-v23-latin-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../font/open-sans-v23-latin-700.ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../font/open-sans-v23-latin-300.ttf");
  font-display: swap;
}

